<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!--        way to disable debug level-->

<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>DENY</onMatch>-->
<!--            <onMismatch>ACCEPT</onMismatch>-->
<!--        </filter>-->

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    trace -->
<!--    debug -->
<!--    info -->
<!--    warn -->
<!--    error -->
<!--    off -->
    <root level="off">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>